.ribbonRed {
  position: absolute;
  top: -6.1px;
  right: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}
.ribbonRed:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 10px solid #f8463f;
}
.ribbonRed span {
  position: relative;
  display: block;
  text-align: center;
  background: #f8463f;
  font-size: 15px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 90px;
  font-weight: 600;
  letter-spacing: 1px;
  /* font-size: 18px; */
}
.ribbonRed span:before,
.ribbonRed span:after {
  position: absolute;
  content: "";
}
.ribbonRed span:before {
  height: 6px;
  width: 6px;
  left: -6px;
  top: 0;
  background: #f8463f;
}
.ribbonRed span:after {
  height: 6px;
  width: 8px;
  left: -8px;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: #c02031;
}

.green {
  background: greenyellow;
}

.ribbonGreen {
  position: absolute;
  top: -6.1px;
  right: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
}
.ribbonGreen:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 53px solid transparent;
  border-right: 53px solid transparent;
  border-top: 10px solid greenyellow;
}
.ribbonGreen span {
  position: relative;
  display: block;
  text-align: center;
  background: greenyellow;
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 10px;
  border-top-right-radius: 8px;
  width: 90px;
}
.ribbonGreen span:before,
.ribbonGreen span:after {
  position: absolute;
  content: "";
}
.ribbonGreen span:before {
  height: 6px;
  width: 6px;
  left: -6px;
  top: 0;
  background: greenyellow;
}
.ribbonGreen span:after {
  height: 6px;
  width: 8px;
  left: -8px;
  top: 0;
  border-radius: 8px 8px 0 0;
  background: greenyellow;
}
